<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <div class="navbar-item title" href="/">
                Tech Blog
            </div>
        </div>

        <div id="navbar" class="navbar-menu is active">
            <div class="navbar-start">
                {{!-- <a class="navbar-item" href="/">Home</a> --}}
                <a class="navbar-item" href="/dashboard">Dashboard</a>
                {{#if logged_in}}
                <a class="navbar-item" href="/logout" id="logout">Log Out</a>
                {{else}}
                <a class="navbar-item" href="/login">Log In</a>
                {{/if}}
            </div>
        </div>

    </nav>

    <main>
        {{{body}}}
    </main>

    {{#if logged_in}}
    <script src="/js/loggedout.js"></script>
    {{/if}}

</body>

</html>