{{> postinfo post}}

{{#if logged_in}}
<div class="card">
    <h3 class="card-header"></h3>
    <form class="card-body comment-form" id="comment-form">

        <label class="label">Comment</label>
        <textarea id="comment-body" name="comment-body" rows="5" cols="50"></textarea>
        <div class="field">
            <p class="control"></p>
            <button class="button is-success" type="submit" class="btn">Submit</button>
        </div>
    </form>
</div>
{{!-- {{/if}}

{{#if logged_in}} --}}

{{> comments post.comments}}

<script src="/js/comment.js"></script>
{{/if}}