:root {
  --dkgrey: #77787b;
  --navy: #0f4b69;
  --white: #fff;
  --aqua: #00aeef;
  --burly: burlywood;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

p,
.text {
  margin-top: 0;
  font-size: 18px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.title {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 24px;
  font-weight: 800;
  padding: 0 10px 10px 10px;
}

.button a {
  color: var(--white);
}

main {
  padding: 20px;
}

.form-entry {
  margin-bottom: 20px;
}

.card-body {
  margin-bottom: 20px;
}
.content {
  padding: 20px;
  margin-bottom: 20px;
}

.card a {
  color: black;
}

.card {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-bottom: 20px;
}

.card-body {
  padding: 10px;
}

.section {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .card,
  .section {
    width: 80%;
  }
}

@media screen and (max-width: 320px) {
  .card,
  .section {
    width: 100%;
  }
}
